<nav class="nav-img-banorte navbar navbar-expand-lg ">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li><a onClick="currentPage.loadMenu();"  id="menud">  
            <li>
                <a>
                    <span style="font-size: 23px; color: white;">
                    <fa name="chevron-left" style="color: white; margin-right: 4px;"></fa> Regresar </span>
                </a>
            </li>
            -->
        </ul>

    </div>
</nav>