/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: url("./assets/img/bg_gr_01.png") top left no-repeat fixed #464646;
    margin: 0;
    background-size: cover;
}


/*  Home */

.home-img-carousel {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.term_anim {
    width: 250px;
    height: 648px;
    background: url("./assets/img/term_anim.png") left center;
    animation: term_anim_play 2.5s steps(7) infinite;
}

@keyframes term_anim_play {
    100%,
    50% {
        background-position: -1750px
    }
}


/*  NavBar */

.nav-img-banorte {
    background-image: url("./assets/img/navbar_red_top_pleca.png");
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Menu TDD */

.menu-grid {
    max-width: 900px;
}

.menu-mca-container {
    width: 900px;
    height: 550px;
    margin: 0px auto;
}


/*  Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}