<div id="contenedorPrincipal" align="center">
    <div class="row menu-mca-container">

        <div class="row menu-grid">
            <div align="center" style="width: 100%; margin-top: 20px;">
                <h2 class="text-center">Operaciones</h2>
            </div>


            <div class="row">
                <div class="col-md-3 col-sm-3 col-xl-3">
                    <a id="loadPage1Button" value="Load Page1.html">
                        <img src="./assets/img/m_saldo.png" width="200px" draggable="false" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                    <a id="loadPage2Button">
                        <img src="./assets/img/m_tran_ter.png" width="200px" draggable="false" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                    <a>
                        <img src="./assets/img/m_tran_spei.png" width="200px" draggable="false" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                    <a>
                        <img src="./assets/img/m_tdc_ter.png" width="200px" draggable="false" />
                    </a>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xl-4 text-center">
                    <a onclick="currentPage.loadPageCompraTiempoAire();">
                        <img src="./assets/img/m_tae.png" width="200px" draggable="false" />
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xl-4 text-center">
                    <a onclick="currentPage.loadPagePagoServ()">
                        <img src="./assets/img/m_pagserv.png" width="200px" />
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xl-4 text-center">
                    <a onclick="currentPage.loadPageEdoCta()">
                        <img src="./assets/img/m_ied.png" width="200px" draggable="false" />
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>